.caja1{
    height: 300px;
    width: 300px;
    background-color: yellow;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;

}

.caja2{
    height: 300px;
    width: 300px;
    background-color: red;
    display: inline-block;
    margin-left: 20px;

}
.caja3{
    height: 300px;
    width: 300px;
    background-color: aqua;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;
    
}
.caja4{
    height: 300px;
    width: 300px;
    background-color: violet;
    display: inline-block;
    margin-left: 20px;
}
.caja5{
    height: 300px;
    width: 300px;
    background-color:green;
    position:static;
    left: 20px;
    bottom: 20px;
}
.goku{
    height: 600px;
    width: 600px;
    background-color:blue;
    position: relative;
    padding-right: 40px;
}
.gohan{
    height: 300px;
    width: 500px;
    background-color:burlywood;
    position: absolute;
    bottom: 0px;
    right: 0px;

}

